.bbs-content {
    background: white;
    width: 770px;
    float: left;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0px 3px 2px #cccccc;
}
.user-nodes {
    padding: 10px;

}
.user-nodes span {
    font-size: 14px;
}
.user-nodes a {
    text-decoration: none;
    color: #778087;
    font-size: 14px;
}
.user-nodes a:hover{
    color: #4d5256;
    text-decoration: underline;
}
.bbs-form div{
    font-size: 14px;
    padding: 10px;
    border-bottom: solid 1px lightgray;
    border-top: solid 1px lightgray;
}
.bbs-form input {
    background: #f9f9f9;
    width: 750px;
    display: block;
    padding: 10px;
    border: 0px;
}
.bbs-form textarea {
    display: block;
    padding: 10px;
    height: 300px;
    width: 750px;
    border: 0px;
    border-bottom: solid 1px lightgray;
}
.bbs-form button {
    display: block;
    margin-bottom: 10px;
    margin-left: 690px;
    font-weight: bold;
}

