{% extends 'base.html' %}

{% block title %}timeline{% endblock %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/timeline.css">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="/static/js/timeline.js"></script>
{% endblock %}

{% block content %}
    <div class="bbs-content">
        <div class="timeline-add">
            <span>
                你在想什么？
            </span>
            <!--<form action="{{ url_for('timeline.add') }}" method="post">-->
                <input class="user-id" type="hidden" name="user_id" value="{{ u.id }}">
                <textarea class="timeline-content" contextmenu="" name="content"  style="resize:none"></textarea>
                <div class="timeline-add-public">
                    <button class="timeline-add-button">发布</button>
                </div>
            <!--</form>-->
        </div>

        <div class="timelines">
            {% for timeline in timeline_list %}
            <div class="timeline-cell">
                <div class="timeline-avatar">
                    <a><img src="{{ u.avatar }}"></a>
                </div>
                <div class="timeline-username-content">
                    <a href="{{ url_for('user.profile', id=u.id) }}">{{ u.username }}</a>
                    <time>{{ timeline.created_time }}</time>
                    <br>
                    <span class="span-timeline">{{ timeline.content }}</span>
                </div>
                <div class="timeline-operation">
                    <a class="timeline-delete" data-id="{{ timeline.id }}">删除</a>
                    <a class="timeline-edit" data-id="{{ timeline.id }}">编辑</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}